{{#partial "content"}}
    <h1>Posts List:</h1>

    {{#if posts}}
        {{#each posts }}
            <h3>Current post</h3>
            <p>{{ content }} <a href="/posts/{{id}}">Read More...</a></p>
        {{/each}}
    {{else}}
        <p>No posts!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}