<!DOCTYPE html>
<html>
  <head>
     <title>{{#block "title"}}Blog{{/block}} </title>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
        {{#block "content"}}{{/block}}
    </div>
  {{#block "footer"}}
  </body>
</html>
  {{/block}}